<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/addTrackInfo.js"></script>
</head>
<body>

<div>
    <p>
        <label>
            Raw track info:
            <br>
            <input id="rawTrackText" type="text" onchange="sendRawTrackInfo()">
        </label>
    </p>

    <p>
        <label for="artistText">Artist:</label>
        <br>
        <input id="artistText" type="text">
        <br>

        <label for="titleText">Title:</label>
        <br>
        <input id="titleText" type="text">
        <br>
    </p>

    <p>
        <label>Source:</label>
        <br>
        <label th:each="sourceName : ${activeSources}">
            <input class="active-source-checkbox" type="checkbox" th:value="${sourceName}">
            <span th:text="${sourceName}"></span>
            <br>
        </label>
    </p>

    <p>
        <label for="sendTrackInfo"></label>
        <br>
        <input id="sendTrackInfo" type="button" value="Send" onclick="sendTrackInfo()">
        <br>
    </p>
</div>

<div>
    <p id="send-feedback">

    </p>
</div>

</body>
</html>